<div class="container vote-container">

	<h1>Our Air - Commuter Survey</h1>
  
  <br/>

  <div class="form-group">
    <label>Please enter your name</label>
    <input type="text" class="form-control name-input" ng-model="survey.user">
  </div>

  <label>Hi {{survey.user}}! Please tell us how you got to work this morning</label>

	<div class="radio" ng-repeat="way in survey.ways">
	  <label><input ng-model="$parent.survey.selectedWayId" ng-value="way._id" type="radio" name="options">{{way.name}}</label>
	</div>  

	<button type="button" class="btn btn-primary" ng-click="survey.castVote()">Submit</button>

</div>
